@import url('http://fonts.cdnfonts.com/css/sf-ui-display');
a {
    font-size: large;
    font-family: 'SF UI Display';
}
a:link {
    color: rgb(245, 229, 206);
}
a:hover {
    color: rgb(94, 16, 117);
}
a:visited {
    color: rgb(172, 0, 240);
}
body {
    background-image: url("teste.jpg");
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
