@import url('http://fonts.cdnfonts.com/css/sf-ui-display');
body {
    background-image: url("teste.jpg");
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-family: 'SF UI Display';
    color: aliceblue;
}
.envioPalpite {
    font-family: 'SF UI Display';
    background: rgb(91, 23, 146);
    color: aliceblue;
    font-size: medium;
}
button {
    font-family: 'SF UI Display';
    background: rgb(91, 23, 146);
    color: aliceblue;
    font-size: medium;
}
