@import url('http://fonts.cdnfonts.com/css/sf-ui-display');
h1 {
    font-size: 8em;
    color: rgb(148, 2, 26);
}
body {
    background-image: url("teste.jpg");
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'SF UI Display';
}
#autoplay-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 10005;

    text-align: center;
    transition: opacity 1s;
}

#autoplay-cover.hide {
    opacity: 0;
}
